<div class="form-container">
    <h2>Create User</h2>


    <form (ngSubmit)="createUser()" #userForm="ngForm" class="user-form">

        <!-- Name Field -->
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="user.name" required #name="ngModel"
                placeholder="Enter your full name" />
            <div *ngIf="name.invalid && name.touched" class="error-message">
                <p>* Name is required.</p>
            </div>
        </div>

        <!-- Email Field -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="user.email" required email #email="ngModel"
                placeholder="Enter your email" />
            <div *ngIf="email.invalid && email.touched" class="error-message">
                <p *ngIf="email.errors?.['required']">* Email is required</p>
                <p *ngIf="email.errors?.['email']">* Invalid Email</p>
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" [disabled]="userForm.invalid" class="btn-submit">Create Account</button>
    </form>

    <!-- Full-screen Success Modal -->
    <div *ngIf="showMessage" class="success-modal">
        <div class="success-content">
            <h3>{{ successMessage }}</h3>
        </div>
    </div>
</div>